body{
  padding-left: 50px;
  padding-right: 50px;
}
nav{
  overflow: hidden;
  position: sticky;
  top: 0;
  z-index: 1000;
}
.sticky {
  position: fixed;
  top: 0;
  width: 100%;
}
nav ul{
  display: flex;
  list-style: none;
  text-align: center;
}
nav ul a{
  float: none;
  color:  black;
  padding: 14px 20px;
  text-decoration: none;
  font-size: 20px;
}
nav ul a:hover{
  background-color: #ec1e64;
  color: black;
}
nav ul a.home{
  color: #ec1e64;
}
.heading{
  font-size: 80px;
  font-weight: 700;
}
.logo {
  font-size: 20px;
  color: #000;
  font-weight: 700;
  top: 15px;
  float: left;
  position: relative;
  text-decoration: none;
}
.dot{
  color: #ec1e64;
}
.row{
  display: flex;
}
.first-link{
  display: flex;
  line-height: 30px;
}
.unlist {
  list-style: none;
  width: 200px;
  }
.first-link a{
  color: #ec1e64; 
}
.hero{
  display: flex;
  gap: 200px;
}
.hero-notes{
  width: 379px;
  line-height: 30px;
}
.services{
  display: flex;
  background-color: whitesmoke;
}
.notes-on-services{
  width: 546px;
  line-height: 30px;
}
.serve{
  width: 600px;
  position: relative;
  font-size: 25px;
  padding-left: 30pxpx;
  font-weight: 500px;
}
.wrap{
  top: 25px;
  content: "";
  left: 0;
  width: 50px;
  height: 4px;
  background-color: #ec1e64;
  text-wrap: 50px;
}
#click{
  list-style: none;
}
.click.me {
  background-color: #ec1e64;
  color: #fff;
  border: 2px solid transparent;
  text-decoration: none;
  padding: 12px 20px;
  font-size: 10px;
  font-weight: 700;
  letter-spacing: .1rem;
}
.click.me:hover{
  background-color: white;
  color: #ec1e64;
}
.graphic{
  color:#ec1e64;
  font-size: 20px;
  font-weight: 500px;
  letter-spacing: 1px;
}
.graphweb{
  display: flex;
  background-color: whitesmoke;
  justify-content: center;
  padding-left: 70px;
  padding-top: 50px;
  gap: 0px;
  padding-right: 70px;
}
.view{
  width: 457px;
  height: 327px;
  cursor: pointer;
}
.explain{
  width: 500px;
  line-height: 30px;
  gap: 100px;
}
.explain-1{
  padding-bottom: 150px;
}
.process-1{
  display: flex;
}
.process-list{
 display: flex;
 gap: 40px;
 line-height: 25px;
 padding-top: 10px;
 padding-bottom: 30px;
}
.process-lists{
  display: flex;
  gap: 40px;
  line-height: 25px;
  padding-top: 10px;
  padding-bottom: 160px;
 }
.process-one:hover{
  border-color: #ec1e64;
}
.process-one{
  border: rgb(206, 199, 199) 3px solid;
  padding: 30px;
}
.process-two{
  display: flex;
}

.number{
  color: grey;
  font-weight: 700;
}
.list{
  color: #ec1e64;
}
.clients{
  padding-top: 50px;
  background-color: #1d1d1d;;
  padding-left: 3px;
  padding-right: 3px;
  padding-bottom: 80px;
}
.client-image{
  width: 118px;
  height: 40px;
  color: white;
}
.client-one{
  display: flex;
  padding: 60px 20px 0px 20px;
  gap: 15px;
}
.source{
  background-color: white;
  color: black; 
  padding: 20px 30px 0px 30px;
}
.notes-on-client{
  width: 546px;
  line-height: 30px;
  color: white;
  padding-right: 80px;
}
.service-2 [class^="flaticon-"] {
  font-size: 80px;
  display: block;
  margin-bottom: 30px;
  color: #ec1e64;
}
.flaticon-vector:before {
  content: "\f100";
}
[class^="flaticon-"]:before,{
  .flaticon-vector:before
}